
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header{
  padding: 30px;
  display: flex;
  background-color: rgb(240, 240, 240);
  color: black;
  align-items: center;
  justify-content:space-between;
}

.navLinks {
  text-decoration: none;
  color: black;
  margin: 0px 30px;
}
.navLinks:hover {
  color: rgb(124, 114, 114);
}
li{

  list-style-type: none;
}
